body {
    background-color: #0d0221;
    color: #2de2e6;
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#log {
    background: #0d0221;
    color: #2de2e6;
    font-family: 'VT323', monospace;
    padding: 10px;
    width: 600px;
    height: 120px;
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid #2de2e6;
}

.log-entry {
    animation: fadeIn 0.3s ease-in;
    margin-bottom: 2px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#controls {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

button, input[type="file"], input[type="range"] {
    background: transparent;
    border: 1px solid #2de2e6;
    color: #2de2e6;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover, input[type="file"]:hover {
    background-color: #2de2e620;
}

#volumeSlider {
    width: 100%; /* растянуть по ширине контейнера */
    appearance: none; /* убрать стандартный стиль браузера */
    background: #2de2e6;
    height: 4px;
}

#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #000000;
    cursor: pointer; /* выравнивание по центру полоски */
}

#visualizer {
    border: 1px solid #2de2e6;
    background-color: #000;
    width: 600px;
    height: 200px;
}